@charset "UTF-8";
/*============HEADER V1 ==================*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #ff5e00;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  position: relative;
  /*@include transform(rotateY(0deg));*/
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  display: block;
  /*@include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out;
  left: 0;
}
.lib-two-img-over .img-1 {
  opacity: 0;
  /*transform-style: inherit;
   @include transform(rotateY(90deg));*/
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  /*@include transform(rotateY(0deg));*/
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 [2] BLOCK FOOTER
 ==============================================*/
.typeheader-1 {
  /*HEADER SEARCH*/
  /*BLOCK CART*/
  /*MENU MEGA*/
}
.typeheader-1 .header-top {
  background-color: #f2f2f2;
  min-height: 38px;
  border-bottom: 1px solid #e8e8e8;
  color: #2d2d2d;
}
.typeheader-1 .header-top .header-top-left {
  padding: 6px 15px;
}
.typeheader-1 .header-top .header-top-left .telephone {
  float: left;
  padding-right: 5px;
}
.typeheader-1 .header-top .header-top-left .link-lg {
  color: #ff5e00;
  font-weight: bold;
}
.typeheader-1 .header-top .header-top-right {
  text-align: right;
  padding: 6px 15px;
}
.typeheader-1 .header-top .header-top-right .dropdown-menu {
  top: 29px;
}
.typeheader-1 .header-top .header-top-right ul.top-link {
  list-style: none;
  margin: 0;
  vertical-align: top;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li {
  padding: 0;
  display: inline-block;
  position: relative;
  list-style: outside none none;
  border-left: 1px solid #ddd;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li > a {
  display: block;
  padding: 0 13px;
  position: relative;
  color: #2d2d2d;
  font-size: 12px;
  line-height: 20px;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li > a:before {
  font-family: 'FontAwesome';
  margin-right: 7px;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li > a span.fa-angle-down {
  position: relative;
  left: 5px;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li.log {
  border: none;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li.logout > a:before {
  content: "\f09c";
}
.typeheader-1 .header-top .header-top-right ul.top-link > li.login > a:before {
  content: "\f023";
}
.typeheader-1 .header-top .header-top-right ul.top-link > li.account > a:before {
  content: "\f007";
}
.typeheader-1 .header-top .header-top-right ul.top-link > li.wishlist > a:before {
  content: "\f004";
}
.typeheader-1 .header-top .header-top-right ul.top-link > li.checkout > a:before {
  content: "\f045";
}
.typeheader-1 .header-top .header-top-right ul.top-link > li:hover > a {
  color: #ff5e00;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li .btn-group {
  line-height: 20px;
  display: block;
  display: block;
  font-size: 12px;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li .btn-group .btn-link {
  padding: 0 10px;
  border: none;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li ul.dropdown-link {
  position: absolute;
  background: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  padding: 0px 10px;
  top: 33px;
  transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 200px;
  z-index: -1;
  text-align: left;
  left: 0;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li ul.dropdown-link li {
  display: block;
  border-left: 0;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a {
  display: block;
  padding: 5px 0 4px;
  border-bottom: solid 1px #efefef;
  font-size: 11px;
  line-height: 18px;
  color: #2d2d2d;
  border-right: 0;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a:hover {
  color: #ff5e00;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li ul.dropdown-link li a:after {
  display: none;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li ul.dropdown-link li:last-child a {
  border-bottom: 0;
}
.typeheader-1 .header-top .header-top-right ul.top-link > li.account:hover ul.dropdown-link {
  top: 34px;
  z-index: 9999;
  opacity: 1;
  border-top: 1px solid rgba(200, 199, 199, 0.3);
}
.typeheader-1 .header-center {
  padding: 36px 0 26px;
  background: #fff;
}
.typeheader-1 .header-center .phone-header {
  background: url("../../images/icon/icon-phone.png") no-repeat left top 5px;
  padding: 0px 15px 0px 45px;
  color: #2d2d2d;
  position: absolute;
  top: 2px;
  line-height: 22px;
  right: 0;
}
.typeheader-1 .header-center .phone-header .text {
  font-weight: bold;
  color: #2d2d2d;
  text-transform: capitalize;
}
.typeheader-1 .header-center .phone-header .phone {
  color: #ff5e00;
}
.typeheader-1 .header-center .phone-header a {
  color: #444;
}
.typeheader-1 .header-center .phone-header a:hover {
  color: #ff5e00;
}
.typeheader-1 .header-bottom {
  background-color: #001eff;
  box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 8;
  min-height: 57px;
}
.typeheader-1 .header-bottom .container .header-bottom-inner .header_search {
  padding: 0;
  margin-top: 7px;
}
@media (min-width: 1200px) {
  .typeheader-1 .header-bottom .container .header-bottom-inner .header_search {
    width: 70%;
  }
}
.typeheader-1 .header-bottom .header-right {
  padding: 0;
}
.typeheader-1 .header-bottom .header_custom_link {
  float: right;
}
.typeheader-1 .header-bottom .header_custom_link li {
  display: inline-block;
  float: left;
  margin: 11px 5px;
  height: 36px;
}
.typeheader-1 .header-bottom .header_custom_link li a {
  display: inline-block;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.typeheader-1 .header-bottom .header_custom_link li.wishlist a {
  background: url("../../images/icon/icon_general.png") no-repeat -12px -1403px #fff;
  position: relative;
}
.typeheader-1 .header-bottom .header_custom_link li.compare a {
  background: url("../../images/icon/icon_general.png") no-repeat -14px -1295px #fff;
  position: relative;
}
.typeheader-1.navbar-compact .header-top {
  display: none;
}
.typeheader-1.navbar-compact .header-bottom {
  margin: 0;
}
.typeheader-1.navbar-compact .header-center {
  padding: 15px 0 10px;
  position: fixed;
  background: #fff none repeat scroll 0 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.typeheader-1.navbar-compact .header-center .navbar-logo img {
  max-width: 110px;
}
.typeheader-1.navbar-compact .header-center .megamenu-style-dev .horizontal ul.megamenu > li > a {
  padding: 5px 15px 5px;
}
.typeheader-1.navbar-compact .header-center .phone-header {
  top: -5px;
}
.typeheader-1 #main-content, .typeheader-1 #content {
  margin-bottom: 30px;
}
.typeheader-1 #sosearchpro.so-search {
  margin: 0;
  width: 100%;
  padding: 0;
}
.typeheader-1 #sosearchpro.so-search .search {
  border: none;
  background: #fff;
  border-radius: 28px;
}
.typeheader-1 #sosearchpro.so-search .select_category {
  width: 135px;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.typeheader-1 #sosearchpro.so-search .select_category select {
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  padding-right: 26px;
}
.typeheader-1 #sosearchpro.so-search .select_category:after {
  content: "\f0d7";
  background-color: transparent;
  line-height: 44px;
  width: 20px;
  color: #444;
  right: 10px;
  left: auto;
}
.typeheader-1 #sosearchpro.so-search .autosearch-input {
  border: 0;
  height: 44px;
  background: #fff;
  border-left: 1px solid #001eff;
}
.typeheader-1 #sosearchpro.so-search .button-search {
  background: #2d2d2d;
  border: 0;
  font-size: 16px;
  height: 44px;
  padding: 0 8px;
  min-width: 68px;
  text-align: center;
  border-radius: 0 28px 28px 0;
}
.typeheader-1 #sosearchpro.so-search .button-search i {
  color: #fff;
  font-size: 16px;
}
.typeheader-1 #sosearchpro.so-search .button-search:hover {
  background: #999;
}
.typeheader-1 .block-cart {
  cursor: pointer;
  position: relative;
  padding: 11px 10px 10px 5px;
  display: inline-block;
  float: right;
}
.typeheader-1 .shopping_cart {
  text-align: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: url("../../images/icon/icon_general.png") no-repeat -13px -1330px #fff;
  position: relative;
}
.typeheader-1 .shopping_cart h2 {
  display: none;
  color: #444;
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.typeheader-1 .shopping_cart .btn-shopping-cart {
  display: block;
  font-size: 13px;
  cursor: pointer;
  width: auto;
  padding: 0;
}
.typeheader-1 .shopping_cart .btn-shopping-cart a.top_cart {
  padding-right: 20px;
  color: #fff;
}
.typeheader-1 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart {
  padding: 0px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  margin: 0;
}
.typeheader-1 .shopping_cart .btn-shopping-cart a.top_cart:hover {
  color: #ff5e00;
}
.typeheader-1 .shopping_cart .btn-shopping-cart a.top_cart:hover .shopcart .text-shopping-cart {
  color: #ff5e00;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .total-shopping-cart {
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: -20px;
  color: #222;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  right: -20px;
}
.typeheader-1 .shopping_cart .dropdown-menu {
  margin: 5px 0;
  top: 40px;
  right: -11px;
  left: auto;
}
.typeheader-1 .shopping_cart .shoppingcart-box:before {
  right: 50px;
}
.typeheader-1 .megamenu-style-dev .navbar-default {
  background: transparent;
}
.typeheader-1 .megamenu-style-dev .horizontal ul.megamenu > li.active > a, .typeheader-1 .megamenu-style-dev .horizontal ul.megamenu > li:hover > a {
  background: transparent;
  color: #ff5e00;
  border-radius: 3px;
}
.typeheader-1 .megamenu-style-dev .horizontal ul.megamenu > li > a {
  color: #222;
  font-size: 13px;
  height: auto;
  padding: 13px 15px 20px;
  line-height: 28px;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: bold;
}
.typeheader-1 .megamenu-style-dev .horizontal ul.megamenu > li > a strong {
  font-weight: bold;
}
#header .header-center:hover ~ .select_category > select {
  display: none;
}
